@font-face {
	font-family: 'Proxima Nova Regular';
	src: url('ProximaNova-Regular.eot');
	src: url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
	url('ProximaNova-Regular.woff') format('woff'),
	url('ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	}
@font-face {
	font-family: 'Proxima Nova Semibold';
	src: url('ProximaNova-Semibold.eot');
	src: url('ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
	url('ProximaNova-Semibold.woff') format('woff'),
	url('ProximaNova-Semibold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	}
@font-face {
	font-family: 'Proxima Nova Bold';
	src: url('ProximaNova-Bold.eot');
	src: url('ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
	url('ProximaNova-Bold.woff') format('woff'),
	url('ProximaNova-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	}
@font-face {
	font-family: 'Proxima Nova Extra Bold';
	src: url('ProximaNova-Extrabld.eot');
	src: url('ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
	url('ProximaNova-Extrabld.woff') format('woff'),
	url('ProximaNova-Extrabld.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	}
@font-face {
	font-family: 'Intro';
	src: url('Intro.eot');
	src: url('Intro.eot?#iefix') format('embedded-opentype'),
	url('Intro.woff') format('woff'),
	url('Intro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	}
