$fnz: 16px;
$fcol:#222B3A;
$fcol_blue:#1092CB;
$bgcol:#296DCE;
$clrorang:#FC880D;
$fontcol: #979FAD;
$font_fam_bolt: 'Proxima Nova Bold';
$font_fam_semibolt: 'Proxima Nova Semibold';
$font_fam_exbolt: 'Proxima Nova Extra Bold';
$font_fam_reg: 'Proxima Nova Regular';
.header{
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 15px #00000014;
    .menu_logo{
        width: 79%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .logo{
            width: 184px;
            height: 34px;
        }
        .menu_block{
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            margin-left: 180px;
            a{
                margin-left: 35px;
                height: 70px;
                font-family: $font_fam_bolt;
                color: $fcol;
                font-size: $fnz;
                display: flex;
                align-items: center;
                text-decoration: none;
                &:hover{
                    border-bottom: 5px solid #FC890D;
                }   
            }
        }
        .user{
            font-size: $fnz;
            text-decoration: none;
            color: $fcol;
            font-family: $font_fam_bolt;
            z-index: 1;
            img{
                margin-right: 8px;
            }
        }
    }
    
}
.academy{
    position: relative;
    width: 100%;
    height: 513px;
    background: linear-gradient(0deg, #296DCE, #296DCE);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    &::before{
        content: "";
        position: absolute;
        width: 2250.13px;
        height: 462.1px;
        left: -1480px;
        bottom:-590px;
        background: #ffffff12;
        transform: rotate(-23.96deg);
        z-index: 2;  
    }
    &::after{
        content: "";
        position: absolute;
        width: 1509.5px;
        height: 310px;
        left: 138.5px;
        top: -170px;
        background: #ffffff12;
        transform: rotate(12.96deg);
        z-index: 1;   
    }
    .academy_block{
        width: 79%;
        z-index: 3;
        position: relative;
        &::after{
            content: url(../imgs/karpachoff.png); 
            position: absolute;
            z-index: 4;
            bottom:  -69px;
            right: 0;
        }
        h1{
            font-size: 38px;
            color: #ffffff;
            text-transform: uppercase;
            font-family:'Intro Regular', sans-serif;
        }
        h2{
            font-size: 24px;
            color: $clrorang;
            text-transform: uppercase;
            font-family:'Intro Regular' sans-serif;
            line-height: 31px;
        }
        a{
            font-size: 14px;
            text-decoration: none;
            color: #ffffff;
            font-family: $font_fam_bolt, sans-serif;
            border: 1px solid #ffffff;
            width: 209px;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 4px 4px #00000040;
            border-radius: 3px;
            margin-top: 29px;
        }
        .line{
            width: 468px;
            height: 15px;
            background: #F3F3F3;
            border: 1px solid #F3F3F3;
            box-sizing: border-box;
            border-radius: 3px;
            margin-top: 72px;
            z-index: 3;
            div{
                width: 259px;
                height: 9px;
                background: #296DCE;
                border-radius: 2px;
                border: 2px solid #F3F3F3;
            }
        }
        .theme{
            width: 468px;
            display: flex;
            flex-direction: row;
            div{
                width: 50%;
                height: 42px;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 5px 0;
                h3{
                    font-size: 38px;
                    font-family:$font_fam_bolt, sans-serif;
                    color: #ffffff;
                }
                p{
                    font-family:$font_fam_semibolt, sans-serif;
                    font-size: 14px;
                    color: #ffffff;
                    margin-left: 9px;
                }
            }
        }
    }
}
.cours_menu{
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .cours_menu_block{
        width: 79%;
        height: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        div{
            width: 22px;
            height: 0px;
            border: 1px solid #979FAD;
            margin: 25px 14px;
        }
        p{
            font-size: $fnz;
            color: $fontcol;
            font-family: $font_fam_bolt, sans-serif;
            
        }
        .indent_cours{
            font-size: $fnz;
            color: #323232;
            font-family: $font_fam_bolt, sans-serif;
        }
    }
    .cours_menu_block_2{
        width: 100%;
        height: 99px;
        background: #FAFAFA;
        display: flex;
        align-items: center;
        justify-content: center;
        .cours_menu_block_2_theme{
            width: 79%;
            display: flex;
            align-items: center;
            justify-content: start;
            position: relative;
            div{
                width: 22px;
                height: 0px;
                border: 1px solid #979FAD;
                margin: 25px 13px 25px 0; 
            }
            p{
                font-family: $font_fam_bolt;
                font-size: $fnz+2px;
            }
            a{
                width: 227px;
                height: 44px;
                border: 1px solid $clrorang;
                border-radius: 3px;
                position: absolute;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: $clrorang;
                font-size: 14px;
                font-family: $font_fam_bolt;
                i{
                    margin-left: 15px;
                }
            }
        }
    }
}
.thems_cours{
    margin-top: 26px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a{
        display: block;
        margin-top: 19px;
        width: 79%;
        height: 203px;
        border: 1px solid #F3F3F3;
        box-sizing: border-box;
        box-shadow: 4px 4px 15px #00000008;
        border-radius: 3px;
        text-decoration: none;
        .thems_cours_block{
            height: 100%;
            display: grid;
            grid-template-columns: 107px 1fr 1fr 1fr 100px;
            grid-template-rows: 1fr ;
            grid-template-areas: "a b b b c";
            .thems_cours_block-1{
                grid-area: a;
                display: flex;
                align-items: baseline;
                justify-content: center;
                p{
                    margin: 15px 0 0 0;
                    font-family: $font_fam_bolt;
                    font-size: 64px;
                    color: #E1E1E1;
                }
            }
            .thems_cours_block-2{
                height: 100%;
                margin: 0;
                padding: 0;
                grid-area: b;
                h4{
                    font-family: $font_fam_exbolt;
                    font-size: 24px;
                    text-transform: uppercase;
                    color: $fcol_blue;
                    margin:25px 0 0 0;
                    letter-spacing: 0.02em;
                }
                 h5{
                    margin: 5px 0 0 0;
                    font-family: $font_fam_bolt;
                    font-size: $fnz;
                    color: #979FAD;
                }
                p{
                    margin: 14px 0 0 0;
                    font-family: $font_fam_reg;
                    font-size: $fnz;
                    color: #696969;
                    line-height: 27px;  
                }
                h6{
                    font-family: $font_fam_bolt;
                    font-size: $fnz;
                    color: #696969;
                    margin: 15px 0 0 0;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    span{
                        color: $clrorang;
                        margin-left: 5px;
                    }
                }
            }
            .thems_cours_block-3{
                grid-area: c;
                display: flex;
                align-items: center;
                flex-direction: column;
                p{
                    font-family: $font_fam_bolt;
                    margin: 33px 0 0 0;
                    color: $fcol;
                }
                .line_2{
                    margin: 1px 0 0 0;
                    width: 15px;
                    height: 121px;
                    background: #F3F3F3;
                    border: 1px solid #F3F3F3;
                    box-sizing: border-box;
                    border-radius: 3px;
                    transform: rotate(-180deg);
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    div{
                        width: 12px;
                        height: 87px;
                        background: #296DCE;
                        border-radius: 2px;
                        
                    }
                }
            }
        }
    }
}
.contacts{
    margin-top: 76px;
    width: 100%;
    height: 350px;
    background: #0099DD;
    display: flex;
    align-items: center;
    justify-content: center;
    .contacts_block{
        width: 79%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: "on_scl mtrl inf adr_tel";
        .online_school{
            grid-area: on_scl;
            h4{
                margin-bottom: 3px;
                font-family: $font_fam_bolt;
                font-size: $fnz+8px;
                color: #FFFFFF;
            }
            div{
                width: 30px;
                height: 3px;
                background: #ffffff;
            }
            p{
                margin: 10px 0;
                font-family: $font_fam_semibolt;
                font-size: $fnz;
                color: #FFFFFF; 
            }
        }
        .material{
            grid-area: mtrl;
            h4{
                margin-bottom: 3px;
                font-family: $font_fam_bolt;
                font-size: $fnz+8px;
                color: #FFFFFF;
            }
            div{
                width: 30px;
                height: 3px;
                background: #ffffff;
            }
            p{
                margin: 10px 0;
                font-family: $font_fam_semibolt;
                font-size: $fnz;
                color: #FFFFFF; 
            }
        }
        .information{
            grid-area: inf;
            h4{
                margin-bottom: 3px;
                font-family: $font_fam_bolt;
                font-size: $fnz+8px;
                color: #FFFFFF;
            }
            div{
                width: 30px;
                height: 3px;
                background: #ffffff;
            }
            p{
                margin: 10px 0;
                font-family: $font_fam_semibolt;
                font-size: $fnz;
                color: #FFFFFF; 
            }
        }
        .adress_tel{
            grid-area: adr_tel;
            h4{
                margin-bottom: 3px;
                font-family: $font_fam_bolt;
                font-size: $fnz+8px;
                color: #FFFFFF;
            }
            div{
                width: 30px;
                height: 3px;
                background: #ffffff;
            }
            p{
                margin: 10px 0;
                font-family: $font_fam_semibolt;
                font-size: $fnz;
                color: #FFFFFF; 
            }
        }
    }
}
.creator{
    width: 100%;
    height: 350px;
    background: $fcol;
    height: 47px;
}
@media (min-width: 375px) and (max-width: 667px) {
    .header{
        width: 100%;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 4px 4px 15px #00000014;
        .menu_logo{
            width: 90%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .logo{
                width: 142px;
                height: 26px;
            }
            .menu_block{
                display: flex;
                align-items: flex-end;
                flex-direction: column;
                margin: 0;
                width: 33px;
                height: 16px;
                a{
                    margin: 0;
                    width: 23px;
                    height: 2px;
                    font-family: none;
                    color: $fcol;
                    font-size: 0;
                    background: #323232;
                    border-radius: 19px;
                    text-decoration: none;
                    &:hover{
                        border-bottom: none;
                    }   
                }
                .cal{
                    width: 18px;
                    height: 2px;
                    align-self: flex-end;
                }
            }
            .user{
                display: none;
                font-size: $fnz;
                text-decoration: none;
                color: $fcol;
                font-family: $font_fam_bolt;
                z-index: 1;
                img{
                    margin-right: 8px;
                }
            }
        }
        
    }
    .academy{
        position: relative;
        width: 100%;
        height: 513px;
        background: linear-gradient(0deg, #296DCE, #296DCE);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        &::before{
            content: "";
            position: absolute;
            width: 2250.13px;
            height: 462.1px;
            left: -1845px;
            bottom:-627px;
            background: #ffffff12;
            transform: rotate(-23.96deg);
            z-index: 2;  
        }
        &::after{
            content: "";
            position: absolute;
            width: 1509.5px;
            height: 310px;
            left: -138.5px;
            top: -133px;
            background: #ffffff12;
            transform: rotate(12.96deg);
            z-index: 1;   
        }
        .academy_block{
            width: 90%;
            z-index: 3;
            position: relative;
            &::after{
                content:""; 
                position: absolute;  
            }
            h1{
                margin-top: 0px;
                margin-bottom: 15px;
                line-height: 45px;
                font-size: 32px;
                color: #ffffff;
                text-transform: uppercase;
                font-family:'Intro Regular', sans-serif;
            }
            h2{
                margin-top: 0px;
                font-size: 22px;
                color: $clrorang;
                text-transform: uppercase;
                font-family:'Intro Regular', sans-serif;
                line-height: 31px;
            }
            a{
                font-size: 14px;
                text-decoration: none;
                color: #ffffff;
                font-family: $font_fam_bolt, sans-serif;
                width: 209px;
                height: 44px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid #FFFFFF;
                box-sizing: border-box;
                box-shadow: 3px 3px 12px rgba(79, 79, 79, 0.1);
                border-radius: 3px;
                margin-top: 20px;
            }
            .line{
                width: 100%;
                height: 15px;
                background: #F3F3F3;
                border: 1px solid #F3F3F3;
                box-sizing: border-box;
                border-radius: 3px;
                margin-top: 72px;
                z-index: 3;
                div{
                    width: 198px;
                    height: 9px;
                    background: #296DCE;
                    border-radius: 2px;
                    border: 2px solid #F3F3F3;
                }
            }
            .theme{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                div{
                    width: 40%;
                    height: 42px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 5px 0;
                    h3{
                        font-size: 38px;
                        font-family:$font_fam_bolt, sans-serif;
                        color: #ffffff;
                    }
                    p{
                        font-family:$font_fam_semibolt, sans-serif;
                        font-size: 14px;
                        color: #ffffff;
                        margin-left: 9px;
                    }
                }
            }
        }
    }
    .cours_menu{
        width: 100%; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .cours_menu_block{
            width: 90%;
            height: 30px;
            display: none;
            flex-direction: row;
            align-items: center;
            div{
                width: 22px;
                height: 0px;
                border: 1px solid #979FAD;
                margin: 25px 14px;
            }
            p{
                font-size: $fnz;
                color: $fontcol;
                font-family: $font_fam_bolt, sans-serif;
                
            }
            .indent_cours{
                font-size: $fnz;
                color: #323232;
                font-family: $font_fam_bolt, sans-serif;
            }
        }
        .cours_menu_block_2{
            width: 100%;
            height: 143px;
            background: #FAFAFA;
            display: flex;
            align-items: center;
            justify-content: center;
            .cours_menu_block_2_theme{
                width: 90%;
                height: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: start;
                position: relative;
                margin: 0;
                padding: 0;
                div{
                    width: 22px;
                    height: 0px;
                    border: 2px solid #222B3A;
                    margin: 39px 13px 25px 0; 
                }
                p{
                    font-family: $font_fam_bolt;
                    font-size: $fnz+2px;
                    padding-top: 10px;
                    
                }
                a{
                    
                    width: 100%;
                    height: 44px;
                    border: 1px solid $clrorang;
                    border-radius: 3px;
                    position: absolute;
                    bottom: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    text-decoration: none;
                    color: $clrorang;
                    font-size: 14px;
                    font-family: $font_fam_bolt;
                    
                }
            }
        }
    }
    .thems_cours{
        margin-top: 26px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        a{
            display: block;
            margin-top: 3px;
            width: 90%;
            height: 328px;
            border: 1px solid #F3F3F3;
            box-sizing: border-box;
            box-shadow: 4px 4px 15px #00000008;
            border-radius: 3px;
            text-decoration: none;
            .thems_cours_block{
                height: 100%;
                display: grid;
                grid-template-columns: 107px 1fr 1fr 1fr 100px;
                grid-template-rows: 1fr ;
                grid-template-areas: "a b b b c";
                .thems_cours_block-1{
                    grid-area: a;
                    display: flex;
                    align-items: baseline;
                    justify-content: center;
                    p{
                        margin: 15px 0 0 0;
                        font-family: $font_fam_bolt;
                        font-size: 64px;
                        color: #E1E1E1;
                    }
                }
                .thems_cours_block-2{
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    grid-area: b;
                    h4{
                        font-family: $font_fam_exbolt;
                        font-size: 24px;
                        text-transform: uppercase;
                        color: $fcol_blue;
                        margin:25px 0 0 0;
                        letter-spacing: 0.02em;
                    }
                     h5{
                        margin: 5px 0 0 0;
                        font-family: $font_fam_bolt;
                        font-size: $fnz;
                        color: #979FAD;
                    }
                    p{
                        margin: 14px 0 0 0;
                        font-family: $font_fam_reg;
                        font-size: $fnz;
                        color: #696969;
                        line-height: 27px;  
                    }
                    h6{
                        font-family: $font_fam_bolt;
                        font-size: $fnz;
                        color: #696969;
                        margin: 15px 0 0 0;
                        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        span{
                            color: $clrorang;
                            margin-left: 5px;
                        }
                    }
                }
                .thems_cours_block-3{
                    grid-area: c;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    p{
                        font-family: $font_fam_bolt;
                        margin: 33px 0 0 0;
                        color: $fcol;
                    }
                    .line_2{
                        margin: 1px 0 0 0;
                        width: 15px;
                        height: 121px;
                        background: #F3F3F3;
                        border: 1px solid #F3F3F3;
                        box-sizing: border-box;
                        border-radius: 3px;
                        transform: rotate(-180deg);
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                        div{
                            width: 12px;
                            height: 87px;
                            background: #296DCE;
                            border-radius: 2px;
                            
                        }
                    }
                }
            }
        }
    }
    .contacts{
        margin-top: 76px;
        width: 100%;
        height: 350px;
        background: #0099DD;
        display: flex;
        align-items: center;
        justify-content: center;
        .contacts_block{
            width: 79%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
            grid-template-areas: "on_scl mtrl inf adr_tel";
            .online_school{
                grid-area: on_scl;
                h4{
                    margin-bottom: 3px;
                    font-family: $font_fam_bolt;
                    font-size: $fnz+8px;
                    color: #FFFFFF;
                }
                div{
                    width: 30px;
                    height: 3px;
                    background: #ffffff;
                }
                p{
                    margin: 10px 0;
                    font-family: $font_fam_semibolt;
                    font-size: $fnz;
                    color: #FFFFFF; 
                }
            }
            .material{
                grid-area: mtrl;
                h4{
                    margin-bottom: 3px;
                    font-family: $font_fam_bolt;
                    font-size: $fnz+8px;
                    color: #FFFFFF;
                }
                div{
                    width: 30px;
                    height: 3px;
                    background: #ffffff;
                }
                p{
                    margin: 10px 0;
                    font-family: $font_fam_semibolt;
                    font-size: $fnz;
                    color: #FFFFFF; 
                }
            }
            .information{
                grid-area: inf;
                h4{
                    margin-bottom: 3px;
                    font-family: $font_fam_bolt;
                    font-size: $fnz+8px;
                    color: #FFFFFF;
                }
                div{
                    width: 30px;
                    height: 3px;
                    background: #ffffff;
                }
                p{
                    margin: 10px 0;
                    font-family: $font_fam_semibolt;
                    font-size: $fnz;
                    color: #FFFFFF; 
                }
            }
            .adress_tel{
                grid-area: adr_tel;
                h4{
                    margin-bottom: 3px;
                    font-family: $font_fam_bolt;
                    font-size: $fnz+8px;
                    color: #FFFFFF;
                }
                div{
                    width: 30px;
                    height: 3px;
                    background: #ffffff;
                }
                p{
                    margin: 10px 0;
                    font-family: $font_fam_semibolt;
                    font-size: $fnz;
                    color: #FFFFFF; 
                }
            }
        }
    }
    .creator{
        width: 100%;
        height: 350px;
        background: $fcol;
        height: 47px;
    }
}