.header {
  width: 100%;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 4px 4px 15px #00000014;
          box-shadow: 4px 4px 15px #00000014;
}

.header .menu_logo {
  width: 79%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .menu_logo .logo {
  width: 184px;
  height: 34px;
}

.header .menu_logo .menu_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 180px;
}

.header .menu_logo .menu_block a {
  margin-left: 35px;
  height: 70px;
  font-family: "Proxima Nova Bold";
  color: #222B3A;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.header .menu_logo .menu_block a:hover {
  border-bottom: 5px solid #FC890D;
}

.header .menu_logo .user {
  font-size: 16px;
  text-decoration: none;
  color: #222B3A;
  font-family: "Proxima Nova Bold";
  z-index: 1;
}

.header .menu_logo .user img {
  margin-right: 8px;
}

.academy {
  position: relative;
  width: 100%;
  height: 513px;
  background: -webkit-gradient(linear, left bottom, left top, from(#296DCE), to(#296DCE));
  background: linear-gradient(0deg, #296DCE, #296DCE);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.academy::before {
  content: "";
  position: absolute;
  width: 2250.13px;
  height: 462.1px;
  left: -1480px;
  bottom: -590px;
  background: #ffffff12;
  -webkit-transform: rotate(-23.96deg);
          transform: rotate(-23.96deg);
  z-index: 2;
}

.academy::after {
  content: "";
  position: absolute;
  width: 1509.5px;
  height: 310px;
  left: 138.5px;
  top: -170px;
  background: #ffffff12;
  -webkit-transform: rotate(12.96deg);
          transform: rotate(12.96deg);
  z-index: 1;
}

.academy .academy_block {
  width: 79%;
  z-index: 3;
  position: relative;
}

.academy .academy_block::after {
  content: url(../imgs/karpachoff.png);
  position: absolute;
  z-index: 4;
  bottom: -69px;
  right: 0;
}

.academy .academy_block h1 {
  font-size: 38px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Intro Regular', sans-serif;
}

.academy .academy_block h2 {
  font-size: 24px;
  color: #FC880D;
  text-transform: uppercase;
  font-family: 'Intro Regular' sans-serif;
  line-height: 31px;
}

.academy .academy_block a {
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Proxima Nova Bold", sans-serif;
  border: 1px solid #ffffff;
  width: 209px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 4px 4px #00000040;
          box-shadow: 0px 4px 4px #00000040;
  border-radius: 3px;
  margin-top: 29px;
}

.academy .academy_block .line {
  width: 468px;
  height: 15px;
  background: #F3F3F3;
  border: 1px solid #F3F3F3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  margin-top: 72px;
  z-index: 3;
}

.academy .academy_block .line div {
  width: 259px;
  height: 9px;
  background: #296DCE;
  border-radius: 2px;
  border: 2px solid #F3F3F3;
}

.academy .academy_block .theme {
  width: 468px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.academy .academy_block .theme div {
  width: 50%;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
}

.academy .academy_block .theme div h3 {
  font-size: 38px;
  font-family: "Proxima Nova Bold", sans-serif;
  color: #ffffff;
}

.academy .academy_block .theme div p {
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 14px;
  color: #ffffff;
  margin-left: 9px;
}

.cours_menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cours_menu .cours_menu_block {
  width: 79%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cours_menu .cours_menu_block div {
  width: 22px;
  height: 0px;
  border: 1px solid #979FAD;
  margin: 25px 14px;
}

.cours_menu .cours_menu_block p {
  font-size: 16px;
  color: #979FAD;
  font-family: "Proxima Nova Bold", sans-serif;
}

.cours_menu .cours_menu_block .indent_cours {
  font-size: 16px;
  color: #323232;
  font-family: "Proxima Nova Bold", sans-serif;
}

.cours_menu .cours_menu_block_2 {
  width: 100%;
  height: 99px;
  background: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cours_menu .cours_menu_block_2 .cours_menu_block_2_theme {
  width: 79%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: relative;
}

.cours_menu .cours_menu_block_2 .cours_menu_block_2_theme div {
  width: 22px;
  height: 0px;
  border: 1px solid #979FAD;
  margin: 25px 13px 25px 0;
}

.cours_menu .cours_menu_block_2 .cours_menu_block_2_theme p {
  font-family: "Proxima Nova Bold";
  font-size: 18px;
}

.cours_menu .cours_menu_block_2 .cours_menu_block_2_theme a {
  width: 227px;
  height: 44px;
  border: 1px solid #FC880D;
  border-radius: 3px;
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #FC880D;
  font-size: 14px;
  font-family: "Proxima Nova Bold";
}

.cours_menu .cours_menu_block_2 .cours_menu_block_2_theme a i {
  margin-left: 15px;
}

.thems_cours {
  margin-top: 26px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.thems_cours a {
  display: block;
  margin-top: 19px;
  width: 79%;
  height: 203px;
  border: 1px solid #F3F3F3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 4px 4px 15px #00000008;
          box-shadow: 4px 4px 15px #00000008;
  border-radius: 3px;
  text-decoration: none;
}

.thems_cours a .thems_cours_block {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 107px 1fr 1fr 1fr 100px;
      grid-template-columns: 107px 1fr 1fr 1fr 100px;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "a b b b c";
}

.thems_cours a .thems_cours_block .thems_cours_block-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.thems_cours a .thems_cours_block .thems_cours_block-1 p {
  margin: 15px 0 0 0;
  font-family: "Proxima Nova Bold";
  font-size: 64px;
  color: #E1E1E1;
}

.thems_cours a .thems_cours_block .thems_cours_block-2 {
  height: 100%;
  margin: 0;
  padding: 0;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: b;
}

.thems_cours a .thems_cours_block .thems_cours_block-2 h4 {
  font-family: "Proxima Nova Extra Bold";
  font-size: 24px;
  text-transform: uppercase;
  color: #1092CB;
  margin: 25px 0 0 0;
  letter-spacing: 0.02em;
}

.thems_cours a .thems_cours_block .thems_cours_block-2 h5 {
  margin: 5px 0 0 0;
  font-family: "Proxima Nova Bold";
  font-size: 16px;
  color: #979FAD;
}

.thems_cours a .thems_cours_block .thems_cours_block-2 p {
  margin: 14px 0 0 0;
  font-family: "Proxima Nova Regular";
  font-size: 16px;
  color: #696969;
  line-height: 27px;
}

.thems_cours a .thems_cours_block .thems_cours_block-2 h6 {
  font-family: "Proxima Nova Bold";
  font-size: 16px;
  color: #696969;
  margin: 15px 0 0 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.thems_cours a .thems_cours_block .thems_cours_block-2 h6 span {
  color: #FC880D;
  margin-left: 5px;
}

.thems_cours a .thems_cours_block .thems_cours_block-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.thems_cours a .thems_cours_block .thems_cours_block-3 p {
  font-family: "Proxima Nova Bold";
  margin: 33px 0 0 0;
  color: #222B3A;
}

.thems_cours a .thems_cours_block .thems_cours_block-3 .line_2 {
  margin: 1px 0 0 0;
  width: 15px;
  height: 121px;
  background: #F3F3F3;
  border: 1px solid #F3F3F3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.thems_cours a .thems_cours_block .thems_cours_block-3 .line_2 div {
  width: 12px;
  height: 87px;
  background: #296DCE;
  border-radius: 2px;
}

.contacts {
  margin-top: 76px;
  width: 100%;
  height: 350px;
  background: #0099DD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts .contacts_block {
  width: 79%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "on_scl mtrl inf adr_tel";
}

.contacts .contacts_block .online_school {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: on_scl;
}

.contacts .contacts_block .online_school h4 {
  margin-bottom: 3px;
  font-family: "Proxima Nova Bold";
  font-size: 24px;
  color: #FFFFFF;
}

.contacts .contacts_block .online_school div {
  width: 30px;
  height: 3px;
  background: #ffffff;
}

.contacts .contacts_block .online_school p {
  margin: 10px 0;
  font-family: "Proxima Nova Semibold";
  font-size: 16px;
  color: #FFFFFF;
}

.contacts .contacts_block .material {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: mtrl;
}

.contacts .contacts_block .material h4 {
  margin-bottom: 3px;
  font-family: "Proxima Nova Bold";
  font-size: 24px;
  color: #FFFFFF;
}

.contacts .contacts_block .material div {
  width: 30px;
  height: 3px;
  background: #ffffff;
}

.contacts .contacts_block .material p {
  margin: 10px 0;
  font-family: "Proxima Nova Semibold";
  font-size: 16px;
  color: #FFFFFF;
}

.contacts .contacts_block .information {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: inf;
}

.contacts .contacts_block .information h4 {
  margin-bottom: 3px;
  font-family: "Proxima Nova Bold";
  font-size: 24px;
  color: #FFFFFF;
}

.contacts .contacts_block .information div {
  width: 30px;
  height: 3px;
  background: #ffffff;
}

.contacts .contacts_block .information p {
  margin: 10px 0;
  font-family: "Proxima Nova Semibold";
  font-size: 16px;
  color: #FFFFFF;
}

.contacts .contacts_block .adress_tel {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: adr_tel;
}

.contacts .contacts_block .adress_tel h4 {
  margin-bottom: 3px;
  font-family: "Proxima Nova Bold";
  font-size: 24px;
  color: #FFFFFF;
}

.contacts .contacts_block .adress_tel div {
  width: 30px;
  height: 3px;
  background: #ffffff;
}

.contacts .contacts_block .adress_tel p {
  margin: 10px 0;
  font-family: "Proxima Nova Semibold";
  font-size: 16px;
  color: #FFFFFF;
}

.creator {
  width: 100%;
  height: 350px;
  background: #222B3A;
  height: 47px;
}

@media (min-width: 375px) and (max-width: 667px) {
  .header {
    width: 100%;
    height: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 4px 4px 15px #00000014;
            box-shadow: 4px 4px 15px #00000014;
  }
  .header .menu_logo {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .menu_logo .logo {
    width: 142px;
    height: 26px;
  }
  .header .menu_logo .menu_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    width: 33px;
    height: 16px;
  }
  .header .menu_logo .menu_block a {
    margin: 0;
    width: 23px;
    height: 2px;
    font-family: none;
    color: #222B3A;
    font-size: 0;
    background: #323232;
    border-radius: 19px;
    text-decoration: none;
  }
  .header .menu_logo .menu_block a:hover {
    border-bottom: none;
  }
  .header .menu_logo .menu_block .cal {
    width: 18px;
    height: 2px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .header .menu_logo .user {
    display: none;
    font-size: 16px;
    text-decoration: none;
    color: #222B3A;
    font-family: "Proxima Nova Bold";
    z-index: 1;
  }
  .header .menu_logo .user img {
    margin-right: 8px;
  }
  .academy {
    position: relative;
    width: 100%;
    height: 513px;
    background: -webkit-gradient(linear, left bottom, left top, from(#296DCE), to(#296DCE));
    background: linear-gradient(0deg, #296DCE, #296DCE);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
  }
  .academy::before {
    content: "";
    position: absolute;
    width: 2250.13px;
    height: 462.1px;
    left: -1845px;
    bottom: -627px;
    background: #ffffff12;
    -webkit-transform: rotate(-23.96deg);
            transform: rotate(-23.96deg);
    z-index: 2;
  }
  .academy::after {
    content: "";
    position: absolute;
    width: 1509.5px;
    height: 310px;
    left: -138.5px;
    top: -133px;
    background: #ffffff12;
    -webkit-transform: rotate(12.96deg);
            transform: rotate(12.96deg);
    z-index: 1;
  }
  .academy .academy_block {
    width: 90%;
    z-index: 3;
    position: relative;
  }
  .academy .academy_block::after {
    content: "";
    position: absolute;
  }
  .academy .academy_block h1 {
    margin-top: 0px;
    margin-bottom: 15px;
    line-height: 45px;
    font-size: 32px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Intro Regular', sans-serif;
  }
  .academy .academy_block h2 {
    margin-top: 0px;
    font-size: 22px;
    color: #FC880D;
    text-transform: uppercase;
    font-family: 'Intro Regular', sans-serif;
    line-height: 31px;
  }
  .academy .academy_block a {
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    font-family: "Proxima Nova Bold", sans-serif;
    width: 209px;
    height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 2px solid #FFFFFF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 3px 3px 12px rgba(79, 79, 79, 0.1);
            box-shadow: 3px 3px 12px rgba(79, 79, 79, 0.1);
    border-radius: 3px;
    margin-top: 20px;
  }
  .academy .academy_block .line {
    width: 100%;
    height: 15px;
    background: #F3F3F3;
    border: 1px solid #F3F3F3;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 3px;
    margin-top: 72px;
    z-index: 3;
  }
  .academy .academy_block .line div {
    width: 198px;
    height: 9px;
    background: #296DCE;
    border-radius: 2px;
    border: 2px solid #F3F3F3;
  }
  .academy .academy_block .theme {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .academy .academy_block .theme div {
    width: 40%;
    height: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 0;
  }
  .academy .academy_block .theme div h3 {
    font-size: 38px;
    font-family: "Proxima Nova Bold", sans-serif;
    color: #ffffff;
  }
  .academy .academy_block .theme div p {
    font-family: "Proxima Nova Semibold", sans-serif;
    font-size: 14px;
    color: #ffffff;
    margin-left: 9px;
  }
  .cours_menu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cours_menu .cours_menu_block {
    width: 90%;
    height: 30px;
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cours_menu .cours_menu_block div {
    width: 22px;
    height: 0px;
    border: 1px solid #979FAD;
    margin: 25px 14px;
  }
  .cours_menu .cours_menu_block p {
    font-size: 16px;
    color: #979FAD;
    font-family: "Proxima Nova Bold", sans-serif;
  }
  .cours_menu .cours_menu_block .indent_cours {
    font-size: 16px;
    color: #323232;
    font-family: "Proxima Nova Bold", sans-serif;
  }
  .cours_menu .cours_menu_block_2 {
    width: 100%;
    height: 143px;
    background: #FAFAFA;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cours_menu .cours_menu_block_2 .cours_menu_block_2_theme {
    width: 90%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    position: relative;
    margin: 0;
    padding: 0;
  }
  .cours_menu .cours_menu_block_2 .cours_menu_block_2_theme div {
    width: 22px;
    height: 0px;
    border: 2px solid #222B3A;
    margin: 39px 13px 25px 0;
  }
  .cours_menu .cours_menu_block_2 .cours_menu_block_2_theme p {
    font-family: "Proxima Nova Bold";
    font-size: 18px;
    padding-top: 10px;
  }
  .cours_menu .cours_menu_block_2 .cours_menu_block_2_theme a {
    width: 100%;
    height: 44px;
    border: 1px solid #FC880D;
    border-radius: 3px;
    position: absolute;
    bottom: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-decoration: none;
    color: #FC880D;
    font-size: 14px;
    font-family: "Proxima Nova Bold";
  }
  .thems_cours {
    margin-top: 26px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .thems_cours a {
    display: block;
    margin-top: 3px;
    width: 90%;
    height: 328px;
    border: 1px solid #F3F3F3;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 4px 4px 15px #00000008;
            box-shadow: 4px 4px 15px #00000008;
    border-radius: 3px;
    text-decoration: none;
  }
  .thems_cours a .thems_cours_block {
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 107px 1fr 1fr 1fr 100px;
        grid-template-columns: 107px 1fr 1fr 1fr 100px;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "a b b b c";
  }
  .thems_cours a .thems_cours_block .thems_cours_block-1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .thems_cours a .thems_cours_block .thems_cours_block-1 p {
    margin: 15px 0 0 0;
    font-family: "Proxima Nova Bold";
    font-size: 64px;
    color: #E1E1E1;
  }
  .thems_cours a .thems_cours_block .thems_cours_block-2 {
    height: 100%;
    margin: 0;
    padding: 0;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-area: b;
  }
  .thems_cours a .thems_cours_block .thems_cours_block-2 h4 {
    font-family: "Proxima Nova Extra Bold";
    font-size: 24px;
    text-transform: uppercase;
    color: #1092CB;
    margin: 25px 0 0 0;
    letter-spacing: 0.02em;
  }
  .thems_cours a .thems_cours_block .thems_cours_block-2 h5 {
    margin: 5px 0 0 0;
    font-family: "Proxima Nova Bold";
    font-size: 16px;
    color: #979FAD;
  }
  .thems_cours a .thems_cours_block .thems_cours_block-2 p {
    margin: 14px 0 0 0;
    font-family: "Proxima Nova Regular";
    font-size: 16px;
    color: #696969;
    line-height: 27px;
  }
  .thems_cours a .thems_cours_block .thems_cours_block-2 h6 {
    font-family: "Proxima Nova Bold";
    font-size: 16px;
    color: #696969;
    margin: 15px 0 0 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .thems_cours a .thems_cours_block .thems_cours_block-2 h6 span {
    color: #FC880D;
    margin-left: 5px;
  }
  .thems_cours a .thems_cours_block .thems_cours_block-3 {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .thems_cours a .thems_cours_block .thems_cours_block-3 p {
    font-family: "Proxima Nova Bold";
    margin: 33px 0 0 0;
    color: #222B3A;
  }
  .thems_cours a .thems_cours_block .thems_cours_block-3 .line_2 {
    margin: 1px 0 0 0;
    width: 15px;
    height: 121px;
    background: #F3F3F3;
    border: 1px solid #F3F3F3;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 3px;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .thems_cours a .thems_cours_block .thems_cours_block-3 .line_2 div {
    width: 12px;
    height: 87px;
    background: #296DCE;
    border-radius: 2px;
  }
  .contacts {
    margin-top: 76px;
    width: 100%;
    height: 350px;
    background: #0099DD;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacts .contacts_block {
    width: 79%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "on_scl mtrl inf adr_tel";
  }
  .contacts .contacts_block .online_school {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: on_scl;
  }
  .contacts .contacts_block .online_school h4 {
    margin-bottom: 3px;
    font-family: "Proxima Nova Bold";
    font-size: 24px;
    color: #FFFFFF;
  }
  .contacts .contacts_block .online_school div {
    width: 30px;
    height: 3px;
    background: #ffffff;
  }
  .contacts .contacts_block .online_school p {
    margin: 10px 0;
    font-family: "Proxima Nova Semibold";
    font-size: 16px;
    color: #FFFFFF;
  }
  .contacts .contacts_block .material {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: mtrl;
  }
  .contacts .contacts_block .material h4 {
    margin-bottom: 3px;
    font-family: "Proxima Nova Bold";
    font-size: 24px;
    color: #FFFFFF;
  }
  .contacts .contacts_block .material div {
    width: 30px;
    height: 3px;
    background: #ffffff;
  }
  .contacts .contacts_block .material p {
    margin: 10px 0;
    font-family: "Proxima Nova Semibold";
    font-size: 16px;
    color: #FFFFFF;
  }
  .contacts .contacts_block .information {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: inf;
  }
  .contacts .contacts_block .information h4 {
    margin-bottom: 3px;
    font-family: "Proxima Nova Bold";
    font-size: 24px;
    color: #FFFFFF;
  }
  .contacts .contacts_block .information div {
    width: 30px;
    height: 3px;
    background: #ffffff;
  }
  .contacts .contacts_block .information p {
    margin: 10px 0;
    font-family: "Proxima Nova Semibold";
    font-size: 16px;
    color: #FFFFFF;
  }
  .contacts .contacts_block .adress_tel {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: adr_tel;
  }
  .contacts .contacts_block .adress_tel h4 {
    margin-bottom: 3px;
    font-family: "Proxima Nova Bold";
    font-size: 24px;
    color: #FFFFFF;
  }
  .contacts .contacts_block .adress_tel div {
    width: 30px;
    height: 3px;
    background: #ffffff;
  }
  .contacts .contacts_block .adress_tel p {
    margin: 10px 0;
    font-family: "Proxima Nova Semibold";
    font-size: 16px;
    color: #FFFFFF;
  }
  .creator {
    width: 100%;
    height: 350px;
    background: #222B3A;
    height: 47px;
  }
}
/*# sourceMappingURL=course.css.map */