.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  height: 72px;
  -webkit-box-shadow: 4px 4px 15px #00000014;
          box-shadow: 4px 4px 15px #00000014;
}

.header .menu_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .menu_logo .logo {
  width: 184px;
  height: 34px;
}

.header .menu_logo .menu_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 180px;
  height: 72px;
}

.header .menu_logo .menu_block div {
  height: 100%;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu_logo .menu_block div a {
  height: 70px;
  margin-left: 35px;
  font-family: "Proxima Nova Bold";
  color: #222B3A;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.header .menu_logo .menu_block div a:hover {
  border-bottom: 3px solid #FC890D;
}

.header .menu_logo .menu_block .user {
  margin-left: 88px;
  font-size: 16px;
  text-decoration: none;
  color: #222B3A;
  font-family: "Proxima Nova Bold";
  z-index: 1;
}

.header .menu_logo .menu_block .user:hover {
  border-bottom: none;
}

.header .menu_logo .menu_block .user img {
  margin-right: 8px;
}

.academy {
  position: relative;
  height: 513px;
  background: -webkit-gradient(linear, left bottom, left top, from(#296DCE), to(#296DCE));
  background: linear-gradient(0deg, #296DCE, #296DCE);
  overflow: hidden;
}

.academy::before {
  content: "";
  position: absolute;
  width: 2250.13px;
  height: 462.1px;
  left: -1480px;
  bottom: -625px;
  background: #ffffff12;
  -webkit-transform: rotate(-23.96deg);
          transform: rotate(-23.96deg);
  z-index: 2;
}

.academy::after {
  content: "";
  position: absolute;
  width: 1509.5px;
  height: 310px;
  left: 138.5px;
  top: -195px;
  background: #ffffff12;
  -webkit-transform: rotate(12.96deg);
          transform: rotate(12.96deg);
  z-index: 1;
}

.academy .academy_block {
  z-index: 3;
  position: relative;
  height: 100%;
}

.academy .academy_block::after {
  content: url(../imgs/karpachoff.png);
  position: absolute;
  z-index: 4;
  bottom: 82px;
  right: 100px;
}

.academy .academy_block h1 {
  margin-top: 84px;
  font-size: 38px;
  line-height: 53px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Intro', serif;
}

.academy .academy_block h2 {
  margin-top: -20px;
  font-size: 24px;
  color: #FC880D;
  text-transform: uppercase;
  font-family: 'Intro';
  line-height: 31px;
}

.academy .academy_block a {
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Proxima Nova Bold", sans-serif;
  border: 1px solid #ffffff;
  width: 209px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
  margin-top: 29px;
}

.academy .academy_block a:hover {
  background: #6497f0;
}

.academy .academy_block .line {
  width: 468px;
  height: 15px;
  background: #F3F3F3;
  border: 1px solid #F3F3F3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  margin-top: 72px;
  z-index: 3;
}

.academy .academy_block .line div {
  width: 259px;
  height: 9px;
  background: #296DCE;
  border-radius: 2px;
  border: 2px solid #F3F3F3;
}

.academy .academy_block .theme {
  width: 468px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.academy .academy_block .theme div {
  width: 50%;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
}

.academy .academy_block .theme div h3 {
  font-size: 38px;
  font-family: "Proxima Nova Bold", sans-serif;
  color: #ffffff;
}

.academy .academy_block .theme div p {
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 14px;
  color: #ffffff;
  margin-left: 9px;
}

.cours_menu .cours_menu_block {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cours_menu .cours_menu_block div {
  width: 22px;
  height: 0px;
  border: 1px solid #979FAD;
  margin: 25px 16px;
}

.cours_menu .cours_menu_block p {
  font-size: 16px;
  color: #979FAD;
  font-family: "Proxima Nova Bold", sans-serif;
}

.cours_menu .cours_menu_block .indent_cours {
  font-size: 16px;
  color: #323232;
  font-family: "Proxima Nova Bold", sans-serif;
}

.cours_menu .cours_menu_block_2 {
  height: 99px;
  background: #FAFAFA;
}

.cours_menu .cours_menu_block_2 .cours_menu_block_2_theme {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cours_menu .cours_menu_block_2 .cours_menu_block_2_theme .thems_cours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cours_menu .cours_menu_block_2 .cours_menu_block_2_theme .thems_cours div {
  width: 22px;
  height: 0px;
  border: 1px solid #979FAD;
  margin: 25px 13px 25px 0;
}

.cours_menu .cours_menu_block_2 .cours_menu_block_2_theme .thems_cours p {
  font-family: "Proxima Nova Bold";
  font-size: 18px;
  margin-left: 0;
}

.cours_menu .cours_menu_block_2 .cours_menu_block_2_theme a {
  width: 227px;
  height: 44px;
  border: 1px solid #FC880D;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #FC880D;
  font-size: 14px;
  font-family: "Proxima Nova Bold";
}

.cours_menu .cours_menu_block_2 .cours_menu_block_2_theme a i {
  margin-left: 15px;
}

.major_thems {
  margin-top: 26px;
}

.major_thems a {
  display: block;
  margin-top: 19px;
  height: 203px;
  border: 1px solid #F3F3F3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 4px 4px 15px #00000008;
          box-shadow: 4px 4px 15px #00000008;
  border-radius: 3px;
  text-decoration: none;
}

.major_thems a .major_thems_block {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 107px 1fr 1fr 1fr 100px;
      grid-template-columns: 107px 1fr 1fr 1fr 100px;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "a b b b c";
}

.major_thems a .major_thems_block .major_thems_block-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.major_thems a .major_thems_block .major_thems_block-1 p {
  margin: 15px 0 0 0;
  font-family: "Proxima Nova Bold";
  font-size: 64px;
  color: #E1E1E1;
}

.major_thems a .major_thems_block .major_thems_block-2 {
  height: 100%;
  margin: 0;
  padding: 0;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: b;
}

.major_thems a .major_thems_block .major_thems_block-2 h4 {
  font-family: "Proxima Nova Extra Bold";
  font-size: 24px;
  text-transform: uppercase;
  color: #1092CB;
  margin: 25px 0 0 0;
  letter-spacing: 0.02em;
}

.major_thems a .major_thems_block .major_thems_block-2 h5 {
  margin: 5px 0 0 0;
  font-family: "Proxima Nova Bold";
  font-size: 16px;
  color: #979FAD;
}

.major_thems a .major_thems_block .major_thems_block-2 h5 img {
  padding-right: 8px;
}

.major_thems a .major_thems_block .major_thems_block-2 p {
  margin: 14px 0 0 0;
  font-family: "Proxima Nova Regular";
  font-size: 16px;
  color: #696969;
  line-height: 27px;
}

.major_thems a .major_thems_block .major_thems_block-2 h6 {
  font-family: "Proxima Nova Bold";
  font-size: 16px;
  color: #696969;
  margin: 15px 0 0 0;
}

.major_thems a .major_thems_block .major_thems_block-2 h6 span {
  color: #FC880D;
  margin-left: 5px;
  -webkit-text-decoration: underline #FC890D;
          text-decoration: underline #FC890D;
}

.major_thems a .major_thems_block .major_thems_block-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.major_thems a .major_thems_block .major_thems_block-3 p {
  font-family: "Proxima Nova Bold";
  margin: 33px 0 5px 5px;
  color: #222B3A;
}

.major_thems a .major_thems_block .major_thems_block-3 .line_2 {
  margin: 1px 0 0 0;
  width: 15px;
  height: 121px;
  background: #F3F3F3;
  border: 1px solid #F3F3F3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.major_thems a .major_thems_block .major_thems_block-3 .line_2 div {
  width: 12px;
  height: 87px;
  background: #296DCE;
  border-radius: 2px;
}

.contacts {
  margin-top: 76px;
  height: 350px;
  background: #0099DD;
}

.contacts .contacts_block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "on_scl mtrl inf adr_tel";
}

.contacts .contacts_block .online_school {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: on_scl;
}

.contacts .contacts_block .online_school h4 {
  margin-bottom: 18px;
  font-family: "Proxima Nova Bold";
  font-size: 24px;
  color: #FFFFFF;
}

.contacts .contacts_block .online_school div {
  margin-bottom: 29px;
  width: 30px;
  height: 3px;
  background: #ffffff;
}

.contacts .contacts_block .online_school p {
  margin: 10px 0;
  font-family: "Proxima Nova Semibold";
  font-size: 16px;
  color: #FFFFFF;
}

.contacts .contacts_block .material {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: mtrl;
}

.contacts .contacts_block .material h4 {
  margin-bottom: 18px;
  font-family: "Proxima Nova Bold";
  font-size: 24px;
  color: #FFFFFF;
}

.contacts .contacts_block .material div {
  margin-bottom: 29px;
  width: 30px;
  height: 3px;
  background: #ffffff;
}

.contacts .contacts_block .material p {
  margin: 10px 0;
  font-family: "Proxima Nova Semibold";
  font-size: 16px;
  color: #FFFFFF;
}

.contacts .contacts_block .information {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: inf;
}

.contacts .contacts_block .information h4 {
  margin-bottom: 18px;
  font-family: "Proxima Nova Bold";
  font-size: 24px;
  color: #FFFFFF;
}

.contacts .contacts_block .information div {
  margin-bottom: 29px;
  width: 30px;
  height: 3px;
  background: #ffffff;
}

.contacts .contacts_block .information p {
  margin: 10px 0;
  font-family: "Proxima Nova Semibold";
  font-size: 16px;
  color: #FFFFFF;
}

.contacts .contacts_block .adress_tel {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: adr_tel;
}

.contacts .contacts_block .adress_tel h4 {
  margin-bottom: 18px;
  font-family: "Proxima Nova Bold";
  font-size: 24px;
  color: #FFFFFF;
}

.contacts .contacts_block .adress_tel div {
  margin-bottom: 29px;
  width: 30px;
  height: 3px;
  background: #ffffff;
}

.contacts .contacts_block .adress_tel p {
  margin: 10px 0;
  font-family: "Proxima Nova Semibold";
  font-size: 16px;
  color: #FFFFFF;
}

.creator {
  width: 100%;
  background: #222B3A;
  height: 47px;
}

@media (min-width: 320px) and (max-width: 568px) {
  .header {
    height: 55px;
    -webkit-box-shadow: 4px 4px 15px #00000014;
            box-shadow: 4px 4px 15px #00000014;
  }
  .header .menu_logo {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .menu_logo .logo {
    width: 142px;
    height: 26px;
  }
  .header .menu_logo .menu_block {
    margin-left: 0px;
    width: 23px;
    height: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header .menu_logo .menu_block div {
    width: 23px;
    height: 2px;
    background: #222B3A;
    border-radius: 19px;
  }
  .header .menu_logo .menu_block div a {
    display: none;
  }
  .header .menu_logo .menu_block .calendar {
    width: 18px;
    height: 2px;
    background: #222B3A;
    border-radius: 19px;
  }
  .header .menu_logo .menu_block .user {
    display: none;
  }
  .academy {
    position: relative;
    height: 513px;
    background: -webkit-gradient(linear, left bottom, left top, from(#296DCE), to(#296DCE));
    background: linear-gradient(0deg, #296DCE, #296DCE);
    overflow: hidden;
  }
  .academy::before {
    content: "";
    position: absolute;
    width: 2250.13px;
    height: 462.1px;
    left: -1840px;
    bottom: -615px;
    background: #ffffff12;
    -webkit-transform: rotate(-23.96deg);
            transform: rotate(-23.96deg);
    z-index: 2;
  }
  .academy::after {
    content: "";
    position: absolute;
    width: 1509.5px;
    height: 310px;
    left: -138.5px;
    top: -130px;
    background: #ffffff12;
    -webkit-transform: rotate(12.96deg);
            transform: rotate(12.96deg);
    z-index: 1;
  }
  .academy .academy_block {
    z-index: 3;
    position: relative;
    height: 100%;
  }
  .academy .academy_block::after {
    content: "";
    position: absolute;
    z-index: -2;
    bottom: 82px;
    right: 100px;
  }
  .academy .academy_block h1 {
    margin-top: 64px;
    font-size: 28px;
    line-height: 40px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Intro', serif;
  }
  .academy .academy_block h2 {
    margin-top: 0px;
    font-size: 20px;
    color: #FC880D;
    text-transform: uppercase;
    font-family: 'Intro';
    line-height: 27px;
  }
  .academy .academy_block a {
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    font-family: "Proxima Nova Bold", sans-serif;
    border: 1px solid #ffffff;
    width: 209px;
    height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 3px;
    margin-top: 29px;
  }
  .academy .academy_block a:hover {
    background: #6497f0;
  }
  .academy .academy_block .line {
    width: 100%;
    height: 15px;
    background: #F3F3F3;
    border: 1px solid #F3F3F3;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 3px;
    margin-top: 72px;
    z-index: 3;
  }
  .academy .academy_block .line div {
    width: 60%;
    height: 9px;
    background: #296DCE;
    border-radius: 2px;
    border: 2px solid #F3F3F3;
  }
  .academy .academy_block .theme {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .academy .academy_block .theme div {
    width: 50%;
    height: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 0;
  }
  .academy .academy_block .theme div h3 {
    font-size: 32px;
    font-family: "Proxima Nova Bold", sans-serif;
    color: #ffffff;
  }
  .academy .academy_block .theme div p {
    font-family: "Proxima Nova Semibold", sans-serif;
    font-size: 12px;
    color: #ffffff;
    margin-left: 9px;
  }
  .academy .academy_block .theme div .six {
    margin-left: 22px;
  }
  .cours_menu .cours_menu_block {
    height: 40px;
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cours_menu .cours_menu_block div {
    width: 22px;
    height: 0px;
    border: 1px solid #979FAD;
    margin: 25px 16px;
  }
  .cours_menu .cours_menu_block p {
    font-size: 16px;
    color: #979FAD;
    font-family: "Proxima Nova Bold", sans-serif;
  }
  .cours_menu .cours_menu_block .indent_cours {
    font-size: 16px;
    color: #323232;
    font-family: "Proxima Nova Bold", sans-serif;
  }
  .cours_menu .cours_menu_block_2 {
    height: 143px;
    background: #FAFAFA;
  }
  .cours_menu .cours_menu_block_2 .cours_menu_block_2_theme {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .cours_menu .cours_menu_block_2 .cours_menu_block_2_theme .thems_cours {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cours_menu .cours_menu_block_2 .cours_menu_block_2_theme .thems_cours div {
    width: 22px;
    height: 0px;
    border: 1px solid #222B3A;
    margin: 25px 13px 25px 0;
  }
  .cours_menu .cours_menu_block_2 .cours_menu_block_2_theme .thems_cours p {
    font-family: "Proxima Nova Bold";
    font-size: 18px;
    margin-left: 0;
    color: #222B3A;
  }
  .cours_menu .cours_menu_block_2 .cours_menu_block_2_theme a {
    margin-top: 8px;
    width: 100%;
    height: 44px;
    border: 1px solid #FC880D;
    border-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-decoration: none;
    color: #FC880D;
    font-size: 14px;
    font-family: "Proxima Nova Bold";
  }
  .major_thems {
    margin-top: 26px;
  }
  .major_thems a {
    margin-top: 19px;
    height: 328px;
    border: 1px solid #F3F3F3;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 4px 4px 15px #00000008;
            box-shadow: 4px 4px 15px #00000008;
    border-radius: 3px;
    text-decoration: none;
  }
  .major_thems a .major_thems_block {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "a c c c c c" "b b b b b b" "b b b b b b" "b b b b b b";
  }
  .major_thems a .major_thems_block .major_thems_block-1 {
    margin-left: 15px;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .major_thems a .major_thems_block .major_thems_block-1 p {
    font-family: "Proxima Nova Bold";
    font-size: 40px;
    color: #E1E1E1;
  }
  .major_thems a .major_thems_block .major_thems_block-2 {
    margin-left: 15px;
    height: 100%;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-area: b;
  }
  .major_thems a .major_thems_block .major_thems_block-2 h4 {
    font-family: "Proxima Nova Extra Bold";
    font-size: 19px;
    text-transform: uppercase;
    color: #1092CB;
    margin: 18px 0 0 0;
    letter-spacing: 0.02em;
  }
  .major_thems a .major_thems_block .major_thems_block-2 h5 {
    margin: 5px 0 0 0;
    font-family: "Proxima Nova Bold";
    font-size: 14px;
    color: #979FAD;
  }
  .major_thems a .major_thems_block .major_thems_block-2 h5 img {
    padding-right: 8px;
  }
  .major_thems a .major_thems_block .major_thems_block-2 p {
    margin: 10px 0 0 0;
    font-family: "Proxima Nova Regular";
    font-size: 14px;
    color: #696969;
    line-height: 24px;
  }
  .major_thems a .major_thems_block .major_thems_block-2 h6 {
    font-family: "Proxima Nova Bold";
    font-size: 14px;
    color: #696969;
    margin: 10px 0 0 0;
  }
  .major_thems a .major_thems_block .major_thems_block-2 h6 span {
    color: #FC880D;
    margin-left: 10px;
    -webkit-text-decoration: underline #FC890D;
            text-decoration: underline #FC890D;
  }
  .major_thems a .major_thems_block .major_thems_block-3 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-area: c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .major_thems a .major_thems_block .major_thems_block-3 p {
    font-size: 14px;
    font-family: "Proxima Nova Bold";
    margin: 15px 0 5px 10px;
    color: #222B3A;
  }
  .major_thems a .major_thems_block .major_thems_block-3 .line_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin: 10px 0 0 0;
    width: 157px;
    height: 13px;
    background: #F3F3F3;
    border: 1px solid #F3F3F3;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 3px;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  .major_thems a .major_thems_block .major_thems_block-3 .line_2 div {
    width: 72px;
    height: 9px;
    background: -webkit-gradient(linear, left top, right top, from(#0099DD), to(#178EC2));
    background: linear-gradient(90deg, #0099DD 0%, #178EC2 100%);
    border-radius: 1px;
  }
  .contacts {
    margin-top: 56px;
    height: 302px;
    background: #0099DD;
  }
  .contacts .contacts_block {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "adr_tel adr_tel adr_tel adr_tel";
  }
  .contacts .contacts_block .online_school {
    display: none;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: on_scl;
  }
  .contacts .contacts_block .online_school h4 {
    margin-bottom: 3px;
    font-family: "Proxima Nova Bold";
    font-size: 24px;
    color: #FFFFFF;
  }
  .contacts .contacts_block .online_school div {
    width: 30px;
    height: 3px;
    background: #ffffff;
  }
  .contacts .contacts_block .online_school p {
    margin: 10px 0;
    font-family: "Proxima Nova Semibold";
    font-size: 16px;
    color: #FFFFFF;
  }
  .contacts .contacts_block .material {
    display: none;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: mtrl;
  }
  .contacts .contacts_block .material h4 {
    margin-bottom: 3px;
    font-family: "Proxima Nova Bold";
    font-size: 24px;
    color: #FFFFFF;
  }
  .contacts .contacts_block .material div {
    width: 30px;
    height: 3px;
    background: #ffffff;
  }
  .contacts .contacts_block .material p {
    margin: 10px 0;
    font-family: "Proxima Nova Semibold";
    font-size: 16px;
    color: #FFFFFF;
  }
  .contacts .contacts_block .information {
    display: none;
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: inf;
  }
  .contacts .contacts_block .information h4 {
    margin-bottom: 3px;
    font-family: "Proxima Nova Bold";
    font-size: 24px;
    color: #FFFFFF;
  }
  .contacts .contacts_block .information div {
    width: 30px;
    height: 3px;
    background: #ffffff;
  }
  .contacts .contacts_block .information p {
    margin: 10px 0;
    font-family: "Proxima Nova Semibold";
    font-size: 16px;
    color: #FFFFFF;
  }
  .contacts .contacts_block .adress_tel {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: adr_tel;
  }
  .contacts .contacts_block .adress_tel h4 {
    margin-top: 48px;
    margin-bottom: 12px;
    font-family: "Proxima Nova Bold";
    font-size: 24px;
    color: #FFFFFF;
  }
  .contacts .contacts_block .adress_tel div {
    width: 30px;
    height: 3px;
    background: #ffffff;
  }
  .contacts .contacts_block .adress_tel p {
    margin: 18px 0;
    font-family: "Proxima Nova Semibold";
    font-size: 16px;
    color: #FFFFFF;
    line-height: 19px;
  }
  .contacts .contacts_block .adress_tel p::before {
    content: url(../imgs/phone.svg);
    margin-right: 14px;
    position: relative;
    top: 5px;
  }
  .creator {
    width: 100%;
    height: 350px;
    background: #222B3A;
    height: 47px;
  }
}
/*# sourceMappingURL=course.css.map */