$fnz: 16px;
$fcol:#222B3A;
$fcol_blue:#1092CB;
$bgcol:#296DCE;
$clrorang:#FC880D;
$fontcol: #979FAD;
$font_fam_bolt: 'Proxima Nova Bold';
$font_fam_semibolt: 'Proxima Nova Semibold';
$font_fam_exbolt: 'Proxima Nova Extra Bold';
$font_fam_reg: 'Proxima Nova Regular';
.container{
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}
.header{
    height: 72px;
    box-shadow: 4px 4px 15px #00000014;
    .menu_logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .logo{
            width: 184px;
            height: 34px;
        }
        .menu_block{
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            margin-left: 180px;
            height: 72px;
            div{
                height: 100%;
                text-decoration: none;
                display: flex;
                align-items: center;
                a{
                    height: 70px;
                    margin-left: 35px;
                    font-family: $font_fam_bolt;
                    color: $fcol;
                    font-size: $fnz;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    
                    &:hover{
                        border-bottom: 3px solid #FC890D;
                    }   
                }
            }
            .user{
                margin-left: 88px;
                font-size: $fnz;
                text-decoration: none;
                color: $fcol;
                font-family: $font_fam_bolt;
                z-index: 1;
                &:hover{
                    border-bottom: none;
                }  
                img{
                    margin-right: 8px;
                }
            }
        }
        
    }
    
}
.academy{
    position: relative;
    height: 513px;
    background: linear-gradient(0deg, #296DCE, #296DCE);
    overflow: hidden;
    &::before{
        content: "";
        position: absolute;
        width: 2250.13px;
        height: 462.1px;
        left: -1480px;
        bottom:-625px;
        background: #ffffff12;
        transform: rotate(-23.96deg);
        z-index: 2;  
    }
    &::after{
        content: "";
        position: absolute;
        width: 1509.5px;
        height: 310px;
        left: 138.5px;
        top: -195px;
        background: #ffffff12;
        transform: rotate(12.96deg);
        z-index: 1;   
    }
    .academy_block{
        z-index: 3;
        position: relative;
        height: 100%;
        
        &::after{
            content: url(../imgs/karpachoff.png); 
            position: absolute;
            z-index: 4;
            bottom:  82px;
            right: 100px;
        }
        h1{
            margin-top: 84px;
            font-size: 38px;
            line-height: 53px;
            color: #ffffff;
            text-transform: uppercase;
            font-family:'Intro', serif;
        }
        h2{
            margin-top: -20px;
            font-size: 24px;
            color: $clrorang;
            text-transform: uppercase;
            font-family:'Intro';
            line-height: 31px;
        }
        a{
            font-size: 14px;
            text-decoration: none;
            color: #ffffff;
            font-family: $font_fam_bolt, sans-serif;
            border: 1px solid #ffffff;
            width: 209px;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            margin-top: 29px;
            &:hover{
                background: rgb(100, 151, 240);
            }
        }
        .line{
            width: 468px;
            height: 15px;
            background: #F3F3F3;
            border: 1px solid #F3F3F3;
            box-sizing: border-box;
            border-radius: 3px;
            margin-top: 72px;
            z-index: 3;
            div{
                width: 259px;
                height: 9px;
                background: #296DCE;
                border-radius: 2px;
                border: 2px solid #F3F3F3;
            }
        }
        .theme{
            width: 468px;
            display: flex;
            flex-direction: row;
            div{
                width: 50%;
                height: 42px;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 5px 0;
                h3{
                    font-size: 38px;
                    font-family:$font_fam_bolt, sans-serif;
                    color: #ffffff;
                }
                p{
                    font-family:$font_fam_semibolt, sans-serif;
                    font-size: 14px;
                    color: #ffffff;
                    margin-left: 9px;
                }
            }
        }
    }
}
.cours_menu{
    .cours_menu_block{
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        div{
            width: 22px;
            height: 0px;
            border: 1px solid #979FAD;
            margin: 25px 16px;
        }
        p{
            font-size: $fnz;
            color: $fontcol;
            font-family: $font_fam_bolt, sans-serif;
            
        }
        .indent_cours{
            font-size: $fnz;
            color: #323232;
            font-family: $font_fam_bolt, sans-serif;
        }
    }
    .cours_menu_block_2{
        height: 99px;
        background: #FAFAFA;
        .cours_menu_block_2_theme{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .thems_cours{
                display: flex;
                align-items: center;
                div{
                    width: 22px;
                    height: 0px;
                    border: 1px solid #979FAD;
                    margin: 25px 13px 25px 0; 
                }
                p{
                    font-family: $font_fam_bolt;
                    font-size: $fnz+2px;
                    margin-left: 0;
                }
            }
            a{
                width: 227px;
                height: 44px;
                border: 1px solid $clrorang;
                border-radius: 3px;
                
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: $clrorang;
                font-size: 14px;
                font-family: $font_fam_bolt;
                i{
                    margin-left: 15px;
                }
            }
        }
    }
}
.major_thems{
    margin-top: 26px;
    
    a{
        display: block;
        margin-top: 19px;
        height: 203px;
        border: 1px solid #F3F3F3;
        box-sizing: border-box;
        box-shadow: 4px 4px 15px #00000008;
        border-radius: 3px;
        text-decoration: none;
        .major_thems_block{
            height: 100%;
            display: grid;
            grid-template-columns: 107px 1fr 1fr 1fr 100px;
            grid-template-rows: 1fr ;
            grid-template-areas: "a b b b c";
            
            .major_thems_block-1{
                grid-area: a;
                display: flex;
                align-items: baseline;
                justify-content: center;
                p{
                    margin: 15px 0 0 0;
                    font-family: $font_fam_bolt;
                    font-size: 64px;
                    color: #E1E1E1;
                }
            }
            .major_thems_block-2{
                height: 100%;
                margin: 0;
                padding: 0;
                grid-area: b;
                h4{
                    font-family: $font_fam_exbolt;
                    font-size: 24px;
                    text-transform: uppercase;
                    color: $fcol_blue;
                    margin:25px 0 0 0;
                    letter-spacing: 0.02em;
                }
                 h5{
                    margin: 5px 0 0 0;
                    font-family: $font_fam_bolt;
                    font-size: $fnz;
                    color: #979FAD;
                    img{
                        padding-right: 8px;
                    }
                }
                p{
                    margin: 14px 0 0 0;
                    font-family: $font_fam_reg;
                    font-size: $fnz;
                    color: #696969;
                    line-height: 27px;  
                }
                h6{
                    font-family: $font_fam_bolt;
                    font-size: $fnz;
                    color: #696969;
                    margin: 15px 0 0 0;
                    
                    span{
                        color: $clrorang;
                        margin-left: 5px;
                        text-decoration: underline #FC890D;
                    }
                }
            }
            .major_thems_block-3{
                grid-area: c;
                display: flex;
                align-items: center;
                flex-direction: column;
                p{
                    font-family: $font_fam_bolt;
                    margin: 33px 0 5px 5px;
                    color: $fcol;
                }
                .line_2{
                    margin: 1px 0 0 0;
                    width: 15px;
                    height: 121px;
                    background: #F3F3F3;
                    border: 1px solid #F3F3F3;
                    box-sizing: border-box;
                    border-radius: 3px;
                    transform: rotate(-180deg);
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    div{
                        width: 12px;
                        height: 87px;
                        background: #296DCE;
                        border-radius: 2px;
                        
                    }
                }
            }
        }
    }
}
.contacts{
    margin-top: 76px;
    height: 350px;
    background: #0099DD;
    .contacts_block{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: "on_scl mtrl inf adr_tel";
        .online_school{
            grid-area: on_scl;
            h4{
                margin-bottom: 18px;
                font-family: $font_fam_bolt;
                font-size: $fnz+8px;
                color: #FFFFFF;
            }
            div{
                margin-bottom: 29px;
                width: 30px;
                height: 3px;
                background: #ffffff;
            }
            p{
                margin: 10px 0;
                font-family: $font_fam_semibolt;
                font-size: $fnz;
                color: #FFFFFF; 
            }
        }
        .material{
            grid-area: mtrl;
            h4{
                margin-bottom: 18px;
                font-family: $font_fam_bolt;
                font-size: $fnz+8px;
                color: #FFFFFF;
            }
            div{
                margin-bottom: 29px;
                width: 30px;
                height: 3px;
                background: #ffffff;
            }
            p{
                margin: 10px 0;
                font-family: $font_fam_semibolt;
                font-size: $fnz;
                color: #FFFFFF; 
            }
        }
        .information{
            grid-area: inf;
            h4{
                margin-bottom: 18px;
                font-family: $font_fam_bolt;
                font-size: $fnz+8px;
                color: #FFFFFF;
            }
            div{
                margin-bottom: 29px;
                width: 30px;
                height: 3px;
                background: #ffffff;
            }
            p{
                margin: 10px 0;
                font-family: $font_fam_semibolt;
                font-size: $fnz;
                color: #FFFFFF; 
            }
        }
        .adress_tel{
            grid-area: adr_tel;
            h4{
                margin-bottom: 18px;
                font-family: $font_fam_bolt;
                font-size: $fnz+8px;
                color: #FFFFFF;
            }
            div{
                margin-bottom: 29px;
                width: 30px;
                height: 3px;
                background: #ffffff;
            }
            p{
                margin: 10px 0;
                font-family: $font_fam_semibolt;
                font-size: $fnz;
                color: #FFFFFF; 
            }
        }
    }
}
.creator{
    width: 100%;
    background: $fcol;
    height: 47px;
}
@media (min-width: 320px) and (max-width: 568px) {
    .header{
        height: 55px;
        box-shadow: 4px 4px 15px #00000014;
        .menu_logo{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo{
                width: 142px;
                height: 26px;
            }
            .menu_block{
                margin-left: 0px;
                width: 23px;
                height: 26px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-around;
                div{
                    width: 23px;
                    height: 2px;
                    background: #222B3A;
                    border-radius: 19px;
                    a{
                        display: none; 
                    }
                }
                .calendar{
                    width: 18px;
                    height: 2px;
                    background: #222B3A;
                    border-radius: 19px;
                }
                .user{
                    display: none;
                }
            }  
        } 
    }
    .academy{
        position: relative;
        height: 513px;
        background: linear-gradient(0deg, #296DCE, #296DCE);
        overflow: hidden;
        &::before{
            content: "";
            position: absolute;
            width: 2250.13px;
            height: 462.1px;
            left: -1840px;
            bottom: -615px;
            background: #ffffff12;
            transform: rotate(-23.96deg);
            z-index: 2;  
        }
        &::after{
            content: "";
            position: absolute;
            width: 1509.5px;
            height: 310px;
            left: -138.5px;
            top: -130px;
            background: #ffffff12;
            transform: rotate(12.96deg);
            z-index: 1;   
        }
        .academy_block{
            z-index: 3;
            position: relative;
            height: 100%;
            
            &::after{
                content: ""; 
                position: absolute;
                z-index: -2;
                bottom:  82px;
                right: 100px;
            }
            h1{
                margin-top: 64px;
                font-size: 28px;
                line-height: 40px;
                color: #ffffff;
                text-transform: uppercase;
                font-family:'Intro', serif;
            }
            h2{
                margin-top: 0px;
                font-size: 20px;
                color: $clrorang;
                text-transform: uppercase;
                font-family:'Intro';
                line-height: 27px;
            }
            a{
                font-size: 14px;
                text-decoration: none;
                color: #ffffff;
                font-family: $font_fam_bolt, sans-serif;
                border: 1px solid #ffffff;
                width: 209px;
                height: 44px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 3px;
                margin-top: 29px;
                &:hover{
                    background: rgb(100, 151, 240);
                }
            }
            .line{
                width: 100%;
                height: 15px;
                background: #F3F3F3;
                border: 1px solid #F3F3F3;
                box-sizing: border-box;
                border-radius: 3px;
                margin-top: 72px;
                z-index: 3;
                div{
                    width: 60%;
                    height: 9px;
                    background: #296DCE;
                    border-radius: 2px;
                    border: 2px solid #F3F3F3;
                }
            }
            .theme{
                width: 100%;
                display: flex;
                flex-direction: row;
                div{
                    width: 50%;
                    height: 42px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 5px 0;
                    h3{
                        font-size: 32px;
                        font-family:$font_fam_bolt, sans-serif;
                        color: #ffffff;
                    }
                    p{
                        font-family:$font_fam_semibolt, sans-serif;
                        font-size: 12px;
                        color: #ffffff;
                        margin-left: 9px;
                    }
                    .six{
                        margin-left: 22px;
                    }
                }
            }
        }
    }
    .cours_menu{
        .cours_menu_block{
            height: 40px;
            display: none;
            flex-direction: row;
            align-items: center;
            div{
                width: 22px;
                height: 0px;
                border: 1px solid #979FAD;
                margin: 25px 16px;
            }
            p{
                font-size: $fnz;
                color: $fontcol;
                font-family: $font_fam_bolt, sans-serif; 
            }
            .indent_cours{
                font-size: $fnz;
                color: #323232;
                font-family: $font_fam_bolt, sans-serif;
            }
        }
        .cours_menu_block_2{
            height: 143px;
            background: #FAFAFA;
            .cours_menu_block_2_theme{
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: start;
                .thems_cours{
                    margin-top: 10px;
                    display: flex;
                    align-items: center;
                    div{
                        width: 22px;
                        height: 0px;
                        border: 1px solid #222B3A;
                        margin: 25px 13px 25px 0; 
                    }
                    p{
                        font-family: $font_fam_bolt;
                        font-size: $fnz+2px;
                        margin-left: 0;
                        color: #222B3A;
                    }
                }
                a{
                    margin-top: 8px;
                    width: 100%;
                    height: 44px;
                    border: 1px solid $clrorang;
                    border-radius: 3px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    text-decoration: none;
                    color: $clrorang;
                    font-size: 14px;
                    font-family: $font_fam_bolt;
                }
            }
        }
    }
    .major_thems{
        margin-top: 26px;
        a{
            margin-top: 19px;
            height: 328px;
            border: 1px solid #F3F3F3;
            box-sizing: border-box;
            box-shadow: 4px 4px 15px #00000008;
            border-radius: 3px;
            text-decoration: none;
            .major_thems_block{
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
                grid-template-areas: "a c c c c c"
                                     "b b b b b b"
                                     "b b b b b b"
                                     "b b b b b b";
                
                .major_thems_block-1{
                    grid-area: a;
                    display: flex;
                    align-items: baseline;
                    justify-content: center;
                    p{
                        font-family: $font_fam_bolt;
                        font-size: 40px;
                        color: #E1E1E1;
                    }
                }
                .major_thems_block-2{
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    grid-area: b;
                    h4{
                        font-family: $font_fam_exbolt;
                        font-size: $fnz+3;
                        text-transform: uppercase;
                        color: $fcol_blue;
                        margin:18px 0 0 0;
                        letter-spacing: 0.02em;
                    }
                     h5{
                        margin: 5px 0 0 0;
                        font-family: $font_fam_bolt;
                        font-size: 14px;
                        color: #979FAD;
                        img{
                            padding-right: 8px;
                        }
                    }
                    p{
                        margin: 10px 0 0 0;
                        font-family: $font_fam_reg;
                        font-size: 14px;
                        color: #696969;
                        line-height: 24px;  
                    }
                    h6{
                        font-family: $font_fam_bolt;
                        font-size: 14px;
                        color: #696969;
                        margin: 10px 0 0 0;
                        span{
                            color: $clrorang;
                            margin-left: 5px;
                            text-decoration: underline #FC890D;
                        }
                    }
                }
                .major_thems_block-3{
                    grid-area: c;
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: center;
                    align-items: center;
                    p{
                        font-size: 14px;
                        font-family: $font_fam_bolt;
                        margin: 15px 0 5px 10px;
                        color: $fcol;
                    }
                    .line_2{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: end;
                        margin: 10px 0 0 0;
                        width: 157px;
                        height: 13px;
                        background: #F3F3F3;;
                        border: 1px solid #F3F3F3;
                        box-sizing: border-box;
                        border-radius: 3px;
                        transform: rotate(360deg);
                        div{
                            width: 72px;
                            height: 8px;
                            background: linear-gradient(90deg, #0099DD 0%, #178EC2 100%);
                            border-radius: 1px;
                            
                        }
                    }
                }
            }
        }
    }
    .contacts{
        margin-top: 56px;
        height: 302px;
        background: #0099DD;
        .contacts_block{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
            grid-template-areas: "adr_tel adr_tel adr_tel adr_tel";
            .online_school{
                display: none;
                grid-area: on_scl;
                h4{
                    margin-bottom: 3px;
                    font-family: $font_fam_bolt;
                    font-size: $fnz+8px;
                    color: #FFFFFF;
                }
                div{
                    width: 30px;
                    height: 3px;
                    background: #ffffff;
                }
                p{
                    margin: 10px 0;
                    font-family: $font_fam_semibolt;
                    font-size: $fnz;
                    color: #FFFFFF; 
                }
            }
            .material{
                display: none;
                grid-area: mtrl;
                h4{
                    margin-bottom: 3px;
                    font-family: $font_fam_bolt;
                    font-size: $fnz+8px;
                    color: #FFFFFF;
                }
                div{
                    width: 30px;
                    height: 3px;
                    background: #ffffff;
                }
                p{
                    margin: 10px 0;
                    font-family: $font_fam_semibolt;
                    font-size: $fnz;
                    color: #FFFFFF; 
                }
            }
            .information{
                display: none;
                grid-area: inf;
                h4{
                    margin-bottom: 3px;
                    font-family: $font_fam_bolt;
                    font-size: $fnz+8px;
                    color: #FFFFFF;
                }
                div{
                    width: 30px;
                    height: 3px;
                    background: #ffffff;
                }
                p{
                    margin: 10px 0;
                    font-family: $font_fam_semibolt;
                    font-size: $fnz;
                    color: #FFFFFF; 
                }
            }
            .adress_tel{
                grid-area: adr_tel;
                h4{
                    margin-top: 48px;
                    margin-bottom: 12px;
                    font-family: $font_fam_bolt;
                    font-size: $fnz+8px;
                    color: #FFFFFF;
                }
                div{
                    width: 30px;
                    height: 3px;
                    background: #ffffff;
                }
                p{
                    margin: 18px 0;
                    font-family: $font_fam_semibolt;
                    font-size: $fnz;
                    color: #FFFFFF; 
                    line-height: 19px;
                    &::before{
                        content: url(../imgs/phone.svg);
                        margin-right: 14px;
                        position: relative;
                        top: 5px;
                    }
                }
            }
        }
    }
    .creator{
        width: 100%;
        height: 350px;
        background: $fcol;
        height: 47px;
    }
}